{% extends 'admin/base.html' %}

{% block title %}Data Petugas{% endblock %}

{% block content %}

<!-- CONTENT -->
<div class="content">
  <h3><b>Data Petugas</b></h3>

  <div class="d-flex justify-content-between my-3">
    <input type="text" class="form-control w-50" placeholder="Cari Petugas....">
    <button class="btn btn-primary">+ Tambah Petugas</button>
  </div>

  <div class="card-box">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nama Petugas</th>
          <th>Id Lokasi</th>
          <th>Nama Lokasi</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1234</td>
          <td>Andi</td>
          <td>123</td>
          <td>Ruang A</td>
          <td>
            <button class="btn btn-edit">Edit</button>
            <button class="btn btn-hapus">Hapus</button>
          </td>
        </tr>
        <tr>
          <td>1234</td>
          <td>Andi</td>
          <td>123</td>
          <td>Ruang B</td>
          <td>
            <button class="btn btn-edit">Edit</button>
            <button class="btn btn-hapus">Hapus</button>
          </td>
        </tr>
        <tr>
          <td>1234</td>
          <td>Budi</td>
          <td>123</td>
          <td>Ruang A</td>
          <td>
            <button class="btn btn-edit">Edit</button>
            <button class="btn btn-hapus">Hapus</button>
          </td>
        </tr>
        <tr>
          <td>1234</td>
          <td>Angga</td>
          <td>123</td>
          <td>Ruang A</td>
          <td>
            <button class="btn btn-edit">Edit</button>
            <button class="btn btn-hapus">Hapus</button>
          </td>
        </tr>
        <tr>
          <td>1234</td>
          <td>Fani</td>
          <td>123</td>
          <td>Ruang B</td>
          <td>
            <button class="btn btn-edit">Edit</button>
            <button class="btn btn-hapus">Hapus</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}