{% extends 'admin/base.html' %}

{% block title %}Daata Kategori{% endblock %}

{% block content %}

<!-- Content -->
    <div class="card-box">

        <h2 class="mb-3">Data Kategori</h2>

        <button class="btn btn-primary mb-3">+ Tambah Kategori</button>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nama Kategori</th>
                    <th class="text-end">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123</td>
                    <td>Elektronik</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>123</td>
                    <td>Furniture</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>123</td>
                    <td>Furniture</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>123</td>
                    <td>Elektronik</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>123</td>
                    <td>Elektronik</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>123</td>
                    <td>Elektronik</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}