{% extends 'admin/base.html' %}

{% block title %}Data Laporan{% endblock %}

{% block content %}

<!-- Content -->
<div class="content">

    <div class="text-center">
        <div class="header-title">Data Laporan</div>
    </div>

    <div class="card-box">
        <table class="table">
            <thead>
                <tr>
                    <th>Lokasi</th>
                    <th>Nama Barang</th>
                    <th>Kategori</th>
                    <th>Stok</th>
                    <th>Kondisi</th>
                    <th>Tanggal</th>
                    <th>Nama Petugas</th>
                    <th>Transaksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ruang A</td>
                    <td>Laptop Asus</td>
                    <td>Elektronik</td>
                    <td>15</td>
                    <td>Baik</td>
                    <td>9/4/2026</td>
                    <td>Fani</td>
                    <td><span class="badge-in">Masuk</span></td>
                </tr>
                <tr>
                    <td>Ruang B</td>
                    <td>Meja</td>
                    <td>Furniture</td>
                    <td>15</td>
                    <td>Baik</td>
                    <td>9/4/2026</td>
                    <td>Fani</td>
                    <td><span class="badge-out">Keluar</span></td>
                </tr>
                <tr>
                    <td>Ruang A</td>
                    <td>Kursi</td>
                    <td>Furniture</td>
                    <td>20</td>
                    <td>Rusak</td>
                    <td>9/4/2026</td>
                    <td>Fani</td>
                    <td><span class="badge-in">Masuk</span></td>
                </tr>
                <tr>
                    <td>Ruang A</td>
                    <td>Monitor LG</td>
                    <td>Elektronik</td>
                    <td>10</td>
                    <td>Baik</td>
                    <td>9/4/2026</td>
                    <td>Fani</td>
                    <td><span class="badge-out">Keluar</span></td>
                </tr>
                <tr>
                    <td>Ruang B</td>
                    <td>Laptop Acer</td>
                    <td>Elektronik</td>
                    <td>5</td>
                    <td>Rusak</td>
                    <td>9/4/2026</td>
                    <td>Fani</td>
                    <td><span class="badge-out">Keluar</span></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock %}