{% extends 'admin/base.html' %}

{% block title %}Data Lokasi{% endblock %}

{% block content %}

<!-- Content -->
<div class="content">

    <div class="card-box">

        <h2 class="mb-3">Data Lokasi</h2>

        <button class="btn btn-primary mb-3">+ Tambah Lokasi</button>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nama Lokasi</th>
                    <th class="text-end">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1234</td>
                    <td>Ruang A</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td>Ruang B</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td>Ruang A</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td>Ruang A</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td>Ruang B</td>
                    <td class="text-end">
                        <button class="btn-edit">Edit</button>
                        <button class="btn-delete">Hapus</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock %}