{% extends 'admin/base.html' %}

{% block title %}edit data lokasi{% endblock %}

{% block content %}

  <div class="wrapper">
    <div class="card">
      <h1>Edit Data Lokasi</h1>
      <div class="subtitle">Isi Data Lokasi</div>

      <form>
        <label>Nama Lokasi</label>
        <input type="text" />

        <div class="actions">
          <button type="button" class="btn">Batal</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </form>
    </div>
  </div>

{% endblock%}